///Google Fonts import
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,400;1,900&display=swap');

///Colors variables
$dark-grey: #414141;
$medium-grey:#888888;
$light-grey: #c2c2c2;
$primary: #39BF8A;
$secondary: #27825E;
$light: #ffffff;

///Interpolation variables
$img-width: 40%;

///Placeholder selector
%no-decoration {text-decoration: none;}
%with-decoration {font-weight: 700; color:$secondary;}

///Mixins
@mixin reset-list {
    margin: 0;
    padding: 0;
    list-style: none;
}

@mixin flx($property, $jty-cnt){
    display: flex;
    #{$property}: $jty-cnt;
}

@mixin for-phone-only {
    @media (max-width: 767.98px) { @content; }
}

@mixin for-tablet-only {
    @media (max-width: 768px) and (max-width: 1999.98px) { @content; }
}

@mixin for-desktop-only {
    @media (min-width: 1200px) { @content; }
}

@mixin fontSize($size) {
    font-size: calculateRem($size);
}

///Functions
@function calculateRem($size) {
    @return $size / 16px * 1rem;
}

$directions: top, bottom, left, right;
$layout-margin-size: 12px;

@each $direction in $directions {
    %no-margin-#{$direction} {margin-#{$direction}: 0;}
    %default-margin-#{$direction} {margin-#{$direction}: $layout-margin-size;}
    %double-margin-#{$direction} {margin-#{$direction}: $layout-margin-size * 2;}
    %half-margin-#{$direction} {margin-#{$direction}: $layout-margin-size / 2;}
}

///General style
body {
    font-family: 'Roboto', sans-serif;
    color: $dark-grey;
}