$half-width: 50%;
$full-width: 100%;

@mixin theme-collection($half-post: true) {
    @include for-phone-only {
        width: $full-width;
    }

    @if $half-post {
        width: $half-width;
    } @else {
        width: $full-width;
    }
}

@mixin font-collection($half-title: true) {
    @include for-phone-only {
        @include fontSize(16px);
    }

    @if $half-title {
        @include fontSize(16px);
    } @else {
        @include fontSize(22px);
    }
}

.collection {
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
   align-items: center;
   width: 80%;
   margin-left: auto;
   margin-right: auto;
   @include for-phone-only {   
       width: 90%;
   }

   &__breadcrumb {
       margin-top: 20px;
       margin-bottom: 30px;
   }

   &__post {
       display: flex;
       flex-wrap: wrap;
       justify-content: center;
       align-items: center;
       @include theme-collection($half-post: false);

       &.half {
           @include theme-collection($half-post: true);
       }
   }

   &__figure {
    width: 45%;
   }

   &__img {
       width: 100%;
   }

   &__about {
       display: flex;
       flex-wrap: wrap;
       align-items: center;
       width: 50%;
       margin-left: 10px
   }

   &__title {
        color: $primary;
       text-decoration: unset;
       letter-spacing: 1px;
       width: 100%;
       margin: 10px 0;

       @include font-collection($half-title: false);

       &.half {
           @include font-collection($half-title: true);
       }

       &:hover {
        color: $secondary;
       }
   }

    &__date {
        margin: 0 30px 0 0;
        font-size: 12px;
        font-style: italic;
    }

    &__tag {
        @include fontSize(14px);
        padding: 6px 16px;
        color: $light;
        background-color: $primary;
        border-radius: 20px;
        margin: 0 10px;
    }
}