///Importação de font do Google Fonts
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,400;1,900&display=swap');

///Variáveis de cores
$dark-grey:#888888;
$light-grey: #c2c2c2;
$primary: #39BF8A;
$secondary: #27825E;

body {
    font-family: 'Roboto', sans-serif;
}

.header {
    font-weight: 700;

    &__logo {
        text-align: center;
        margin: 16px 0;
    }

    &__img {
        max-width: 150px;
    }

    .menu {
        &__list {
            display: flex;
            justify-content: center;
            border-top: 1px solid $dark-grey;
            border-bottom: 1px solid $dark-grey;
            margin-left: auto;
            margin-right: auto;
            width: 80%;
            padding: 20px 0;
        }

        &__links {
            position: relative;

            &:not(:last-child)::after {
                content: "";
                position: absolute;
                top: 0;
                bottom: 0;
                right: -3px;
                margin: auto;
                height: 15px;
                width: 1px;
                background-color: $dark-grey;
            }
        }

        &__link {
            padding: 0 26px;
            color: $primary;
            text-decoration: none;

            &:hover {
                color: $secondary;
            }
        }




    }
}

.footer {
    padding: 20px 0;
    display: flex;
    justify-content: center;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 0;

    &__logo {
        max-width: 170px;
    }

    &__txt {
        font-size: 14px;
        margin: auto 40px 0;
        position: relative;
        font-style: italic;

        &::before {
            content: "";
            position: absolute;
            top: 0;
            bottom: 0;
            left: -20px;
            margin: auto;
            height: 15px;
            width: 1px;
            background-color: $dark-grey;
        }
    }
}